<p-toast></p-toast>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
<div class="admin-page">
  <p-card header="Users" subheader="List of Users">
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              styleClass="p-button-success"
              label="New"
              icon="pi pi-plus"
              routerLink="salesMan-form"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <p-table
          [value]="users"
          styleClass="p-datatable-gridlines my-3"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="icon">
                Email <p-sortIcon field="icon"></p-sortIcon>
              </th>
              <th pSortableColumn="icon">
                Type <p-sortIcon field="icon"></p-sortIcon>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.userType.usertype }}</td>
            
              <td>
                <p-button *ngIf="user.userType.usertype==='salesman'"
                  styleClass="p-button-success p-button-sm"
                  icon="pi pi-pencil"
                  routerLink="salesMan-form/{{ user._id }}"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>

